version: '3.3'
services:
    sut:
        build:
            args:
                BASE_TEST: -test
            context: ../
            dockerfile: docker/Dockerfile
            cache_from:
                - $IMAGE_NAME
                - ci_sut
                - ${DOCKER_REPO}:${CACHE_TAG}-test
        volumes:
            - ../tests:/usr/local/airflow/tests
            - ../plugins:/usr/local/airflow/plugins
            - ../dags:/usr/local/airflow/dags
            - ../config:/usr/local/airflow/config
            - /var/run/docker.sock:/var/run/docker.sock
            - /tmp:/tmp
        environment:
            - AWS_ACCESS_KEY_ID
            - AWS_SECRET_ACCESS_KEY
            - AWS_DEFAULT_REGION
        command:
            - pytest --pylama -n4
